.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
}

h1,
h2,
p,
a {
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
}

h1 {
  font-size: 10rem;
  margin: 0;
  animation-delay: 0.1s;
}

h2 {
  font-size: 2rem;
  margin: 0;
  animation-delay: 0.3s;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
  animation-delay: 0.5s;
}

a {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  animation-delay: 0.7s;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
  background-color: #555;
  transform: translateY(-3px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
