:root {
  --font-primary: "Cormorant Garamond", serif;
  --font-headings: "Playfair Display", serif;

  --color-text: #4a403a;
  --color-background-start: #ebe6dd;
  --color-background-end: #f8f6f0;

  --color-scrollbar-track: #e0d8c8;
  --color-scrollbar-thumb: #8c7d71;
  --color-scrollbar-thumb-hover: #5a7d7c;
}
